<div class="card p-3 mt-5 shadow-lg">
    <h1 class="card-title">Panel-O-Matic</h1>
    <div class="card-content">
        <p>Bienvenido al panel de control de Panel-O-Matic. Aquí encontrarás enlaces a las distintas utilidades de la app.</p>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="timer/5">/timer/n</a>
                <span class="ms-3 badge bg-dark float-end">Temporizador n minutos, 30 por defecto.</span>
            </li>
            <li class="list-group-item">
                <a href="timer">/timer</a>
                <span class="ms-3 badge bg-dark float-end">Temporizador 30 minutos</span>
            </li>
            <li class="list-group-item">
                <a href="timer/30">/timer/20</a>
                <span class="ms-3 badge bg-dark float-end">Temporizador 20 minutos</span>
            </li>
        </ul>
    </div>
</div>